:root {
  --font-size-100: 1.125rem;
  --font-size-200: 1.5rem;
  --font-size-300: 2.25rem;
  --font-size-400: 3rem;

  --color-neutral-000: #ffffff;
  --color-neutral-100: #f9faf8;
  --color-neutral-200: #e5e7eb;

  --color-primary-500: #1f2937;

  --color-accent-300: #3882f6;

  --font-family-primary: "roboto";

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-800: 6rem;
  --size-900: 7rem;

  --font-size-body: var(--font-size-100);
  --font-size-primary-heading: var(--font-size-400);
  --font-size-secondary-heading: var(--font-size-300);
  --font-size-nav: var(--font-size-100);
  --font-size-button: var(--font-size-300);
  --font-size-quote: var(--font-size-300);
  --font-size-logo: var(--font-size-200);
}

/* ------ Reset ------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------ General Styling ------ */

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-primary-500);
}

/* ------ Header/Nav ------ */

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-300) var(--size-600);
  background-color: var(--color-primary-500);
}

.logo {
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-100);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-size: var(--font-size-nav);
}

.nav-list a {
  color: var(--color-neutral-200);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

/* ------ Hero Area ------ */

.hero {
  background-color: var(--color-primary-500);
  padding: var(--size-900) var(--size-600);
}

.hero h1 {
  color: var(--color-neutral-100);
  font-size: var(--font-size-primary-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1.125;
}

.hero p {
  color: var(--color-neutral-200);
  font-size: var(--font-size-100);
  line-height: 1.25;
}

.hero .image-placeholder {
  display: grid;
  width: 600px;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 50%);
}

.image p {
  color: var(--color-neutral-100);
  text-align: center;
}

/* ----- Info Area ----- */

.info-wrapper {
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  background-color: var(--color-neutral-000);
  padding: var(--size-700) var(--size-800);
}

.info-wrapper h1 {
  color: var(--color-primary-500);
  font-size: var(--font-size-quote);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.info-wrapper .carosel {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
}

.info-wrapper .image-placeholder {
  display: flex;
  width: 100%;
  height: 170px;
  border: 4px solid var(--color-accent-300);
  border-radius: 15px;
}

.info-wrapper p {
  text-align: center;
  font-size: var(--font-size-100);
  line-height: 1.25;
}

/* ----- Quote Area ----- */

.quote-section {
  background-color: var(--color-neutral-200);
}

.quote-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  max-width: 90ch;
  padding: var(--size-900) 0;
}

.quote {
  font-style: italic;
  font-size: var(--font-size-quote);
  line-height: 1.125;
}

.author {
  text-align: end;
  color: var(--color-primary-500);
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
}

/* ------ CTA Area ------ */

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent-300);
  border-radius: 10px;
  padding: var(--size-650) var(--size-900);
  margin: var(--size-800) 0;
}

.cta-wrapper h3 {
  color: var(--color-neutral-100);
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
}

.cta-wrapper p {
  color: var(--color-neutral-100);
  font-size: var(--font-size-100);
}

/* ------ Footer Area ------ */

footer {
  background-color: var(--color-primary-500);
  padding: var(--size-650) 0;
}

footer p {
  color: var(--color-neutral-100);
  font-size: var(--font-size-100);
  text-align: center;
}
/* ------ Button ------ */

.button {
  background-color: var(--color-accent-300);
  color: white;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-semibold);
  padding: var(--size-200) var(--size-600) var(--size-100);
  margin: var(--size-400) 0;
  border: none;
  border-radius: 10px;
}

.button-inverted {
  border: 2px solid var(--color-neutral-100);
}

/* ------ Utility Classes ------ */

/* * {
  border: 2px solid red !important;
} */

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 3rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
